@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

:root {
    --fx-l: 100;
    --fx-ln: 300;
    --fx-normal: 400;
    --fx-hn: 500;
    --fx-bold: 700;
    --fx-extrabold: 900;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Roboto;
}

.hero {
    background-color: #1f2937;
    padding-left: 240px;
    padding-right: 240px;
    height: 550px;
}

.headera, .herosubheading {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

li {
    list-style-type: none;
}

.headerlogo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: var(--fx-extrabold);
}

.headerul {
    display: flex;
    gap: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 80px;
}

h1 {
    font-size: 48px;
    font-weight: var(--fx-extrabold);
    color: #f9faf8;
}

.signup {
    background-color: #3882f6;
    border: 0;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: var(--fx-bold);
    font-size: 18px;
    padding: 8px 32px;
    margin-top: 10px;
}

.heroimgplaceholder {
    background-color: #6d747d;
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroflex {
    height: min-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 16px;
}

.heroflex1 {
    width: 45%;
}

.placeholderp {
    color: #f9faf8;
    font-size: 18px;
}

.information {
    font-size: 36px;
    color: #1f2937;
    font-weight: var(--fx-extrabold);
    text-align: center;
    margin-block: 50px;
}

.frame {
    border: 4px solid #3882f6;
    border-radius: 16px;
    width: 180px;
    aspect-ratio: 1;
    margin-bottom: 10px;
}

.frameflex1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 130px;
}

.frameflex2 {
    display: flex;
    flex-direction: column;
    width: 180px;
}

.framep {
    font-size: 18px;
    color: #585d64;
    text-align: center;
    width: 175px;
}

#quote {
    background-color: #e5e7eb;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 350px;
}

.quotep {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    width: 100%;
}

.authorp {
    width: max-content;
    font-size: 24px;
    font-weight: var(--fx-bold);
    margin-left: auto;
}

.cta {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 240px;
}

.container {
    width: 100%;
    height: 150px;
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 120px;
}

.ctah {
    font-size: 24px;
    font-weight: var(--fx-bold);
    color: #f9faf8;
}

.ctash {
    font-size: 17px;
    color: #e5e7eb;
}

.ctasignup {
    background-color: #3882f6;
    border: 3px solid #f9faf8;
    border-radius: 8px;
    color: #f9faf8;
    width: 140px;
    height: 40px;
    font-size: 18px;
    font-weight: var(--fx-bold);
}